<launch>
  <node name="tf_bridge" pkg="navigation_tasks" type="tf_bridge.py"/>
  <node pkg="slam_karto" type="slam_karto" name="slam_karto" output="screen">
    <remap from="scan" to="/scan"/>
    <remap from="/tf" to="/mapping/tf"/>
    <param name="map_frame" value="new_map"/>
    <param name="odom_frame" value="odom"/>
    <param name="map_update_interval" value="25"/>
    <param name="resolution" value="0.025"/>
  </node>
</launch>
