<launch>
  <node pkg="rosbridge_server" name="rosbridge" type="rosbridge_websocket.py">
    <param name="unregister_timeout" value = "10.0"/>
  </node>
  <node pkg="long_term_deployment" type="task_server.py" name="task_server"/>
  <include file="$(find cardboard_detection_task)/launch/cardboard_query_server_example.launch"/>
</launch>
